<!doctype html>
<html lang="en">

<head>
  <title>Obspy Plots</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <h1><a href="index.html" class="logo">Web ML DAS</a></h1>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="index.html"><span class="fa fa-home mr-3"></span> Homepage</a>
        </li>
        <li>
          <a href="index.html"><span class="fa fa-user mr-3"></span>Segy File Processing</a>
        </li>
        <li>
          <a href="model_upload.html"><span class="fa fa-sticky-note mr-3"></span>Model Selection</a>
        </li>
        <li>
          <a href="obspy_plot.html"><span class="fa fa-sticky-note mr-3"></span>Obspy Plots</a>
        </li>
        <li>
          <a href="anomaly_detection.html"><span class="fa fa-paper-plane mr-3"></span>Anomaly Detection</a>
        </li>

      </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Anomaly Detection</h2>
        <h4 id="model">
            <span>Model used for anomaly detection is :&nbsp; {{data.model}}</span>
        </h4><br>
        <div class="row">
           
    <img src={{data.path}} width="400" height="333">

    </div>

<div class="row"></div>
<div class="row">
<div class="col-md-3">
<button type="button" class="btn" id="btn-predict"  style="color: #fff;background-color: #67809F;
border-color: #67809F;">Predict!</button>
</div>		

</div>
<br>
    <h3 id="result">
    <span>Result: &nbsp;{{data.result}}</span>
</h3>
</div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/test_index.js') }}" type="text/javascript"></script>  
</body>

</html>