<!doctype html>
<html lang="en">

<head>
  <title>Obspy Plots</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <h1><a href="index.html" class="logo">Web ML DAS</a></h1>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="index.html"><span class="fa fa-home mr-3"></span> Homepage</a>
        </li>
        <li>
          <a href="index.html"><span class="fa fa-user mr-3"></span>Segy File Processing</a>
        </li>
        <li>
          <a href="model_upload.html"><span class="fa fa-sticky-note mr-3"></span>Model Selection</a>
        </li>
        <li>
          <a href="obspy_plot.html"><span class="fa fa-sticky-note mr-3"></span>Obspy Plots</a>
        </li>
        <li>
          <a href="anomaly_detection.html"><span class="fa fa-paper-plane mr-3"></span>Anomaly Detection</a>
        </li>

      </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <form action="{{ url_for('upload_model') }}" method="post" role="form" enctype="multipart/form-data">
        <h2 class="mb-4">Obspy Plots</h2>
		<div class="row">
		<img src={{data.spec}} width="400" height="333">
		<img src={{data.tf}}  width="400" height="333">
		</div>
		<div class="row">
		<img src={{data.cwt}}  width="400" height="333">
		<img src={{data.event}} width="400" height="333">
        </div>	
        <center style="    padding-right: 120px;">
            <button type="submit" class="btn" style="color: #fff;background-color: #67809F;
 border-color: #67809F;">Proceed</button>
        </center>
        </form>    
		
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>